<div class="col-sm-12">
    <h2>Les joueurs</h2>
    <table class="table">
        <tr>
            {% for j in joueurs %}
                <td style="text-align: center;">
                    <img class="img-thumbnail" src="{{ asset("images/sorciere") }}{{ j.ordre }}.png"/>
                    <p>{{ j.nom }}</p>
                    <p>Cartes: {{ j.cartes | length }}</p>
                </td>
            {% endfor %}
        </tr>
    </table>
</div>
