{% extends "::base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Inscrivez-vous</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form(form) }}
            </div>
        </div>
        
        
    </div>
{% endblock %}
